#informasi {
    background-color: #f1fffe;
    text-decoration: none;
}

#subtitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

#subtitle #kota {
    padding-left: 30px;
}

#subtitle #select {
    padding-left: 30px;
}

#subtitle .date {
    padding-right: 30px;
    padding-left: 30px;
}

#subtitle #kota {
    padding-left: 30px;
}

select {
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    padding-right: 50px;
    text-align: center;
}

#waktu {}