#informasi {
    background-color: #f1fffe;
    text-decoration: none;
}

#subtitle {
    padding-top: 30px;
    padding-bottom: 30px;
}

#subtitle #kota {
    padding-left: 30px;
}

#subtitle #select {
    padding-left: 30px;
}

#subtitle .date {
    padding-right: 30px;
    padding-left: 30px;
}

#subtitle #kota {
    padding-left: 30px;
}

select {
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    padding-right: 50px;
    text-align: center;
}


#namKot{
    margin-left: 3rem;
}

#rentangWaktu{
    margin-left: 29rem;
    margin-top: -2.7rem;
}

#infoKanan{
    margin-left: 45rem;
    margin-top: -3.7rem;
}

#sd{
    margin-left: 1rem;
    margin-top: 0.3rem;
}

#tgl2{
    margin-left: 1rem;
}